.copy-icon {
    color: #C7C7C7;
    margin-left: 10px;
    cursor: pointer;
}

.copy-icon:hover{
    color: #0073aa;
}

.copy-icon:active{
     color: #199635;
}

.cr-repeat-copy-text {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 10px;
    position: absolute;
}